.projects{
  position: relative;
  background-color: #617C7D;
  height: 100vh;
  width: 100vw;
  margin:0rem;
  overflow-x: auto;
}
.projects_track{
  display: flex;
  gap: 3vmin; 
  position: absolute;
  left: 20%;
  top: 20%;
  padding-right: 20%;
  transition: transform 0.5s ease;
}
.project_box{
  background-color: #B2D7DC;
  position: relative;
  height: 480px;
  width: 240px;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  transition: 0.5s;
}
.project_box:hover{
  transform: scale(1.1);
}
.project_image{
  height: 300px;
  width: 140px;
  margin-top: 30px;
  object-fit: cover;
}
.project_title{
  font-size: 20px;
  font-weight: 700;
}
.project_type{
  font-size: 18px;
}
.project_duration{
  position: absolute;
  bottom: 20px;
  left: -1px;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
.projects_item{
  background-color: #C99E7C;
  position: fixed;
  z-index: 100;
  top: 10vh;
  left: 10vw;
  height: 80vh;
  width: 80vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.projects_item_x{
  background-color: #FF0000;
  color: #FFFFFF;
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: 0.5s;
  cursor: pointer;
}
.projects_item_content{
  height: calc(80vw - 50px);
  width: 80vw;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}
.projects_item_left{
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects_item_right{
  width: 55%;
  padding-right: 5%;
  padding-bottom: 20px;
  overflow-y: auto;
  
}
.projects_item_image{
  max-height: 80%;
  max-width: 80%;
  border-radius: 30px;
}
.projects_item_headline{
  font-size: 30px;
  font-weight: 700;
  margin-top: 10%;
  margin-bottom: 5%;
}
.projects_item_type{
  font-size: 24px;
}
.projects_item_duration{
  font-size: 20px;
  margin-bottom: 50px;
}
.projects_item_decription{
  text-align: justify;
  font-size: 20px;
}
.projects_item_middle{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.projects_item_link, .projects_item_link:visited{
  background-color: #F3B03D;
  width: 50%;
  height: 50px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  border-radius: 25px;
  transition: 0.5s;
  cursor: pointer;
}
.projects_item_link:hover{
  transform: scale(1.1);
}
.projects_item_bottom{
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.projects_item_close{
  background-color: #FF0000;
  color: #FFFFFF;
  width: 20%;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  transition: 0.5s;
  cursor: pointer;
}
.projects_item_close:hover{
  transform: scale(1.1);
}
@media screen and (max-width: 1250px){
  .projects_item_decription{
    font-size: 15px;
  }
  .projects_item_bottom{
    bottom: 15px;
    right: 15px;
  }
  .projects_item_close{
    width: 100px;
  }
}
@media screen and (max-width: 700px){
  .projects_item_x{
    margin-top: 10px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
  }
  .projects_item_decription{
    font-size: 15px;
  }
  .projects_item_left{
    display: none;
  }
  .projects_item_content{
    height: calc(80vh - 50px);
  }
  .projects_item_right{
    width: 100%;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
  }
  .projects_item_middle{
    margin-top: 30px;
  }
  .projects_item_bottom{
    bottom: 15px;
    right: 15px;
  }
  .projects_item_close{
    width: 100px;
  }
}
