.education{
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #617C7D;
  font-family: 'Inter';
}
.bigbook{
  display: flex;
}
.smallbook{
  display: none;
}
.book{
  width: 500px;
  height: 700px;
  position: relative;
  transition: transform 0.5s;
}
.cover{
  width: 500px;
  height: 700px;
  position: absolute;
  perspective: 1500px;
}
.front_cover{
  background-color: #F19D9B;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  position: absolute;
  z-index: 1;
  backface-visibility: hidden;
  transform-origin: left;
  transition: transform 0.5s;
}
.back_cover{
  background-color: #F19D9B;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  position: absolute;
  z-index: 0;
  transform-origin: left;
  transition: transform 0.5s;
}
.paper{
  width: 450px;
  height: 630px;
  margin-top: 35px;
  position: absolute;
  perspective: 1500px;
}
.front_page{
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  border-left: solid #F19D9B 1.5px;
  position: absolute;
  z-index: 1;
  backface-visibility: hidden;
  transform-origin: left;
  transition: transform 0.5s;
  overflow-y: auto;
}
.back_page{
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  position: absolute;
  z-index: 0;
  transform-origin: left;
  transition: transform 0.5s;
}
.front_content{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 20px;
  overflow-y: auto;
}
.front_cover_content{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  padding-top: 150px;
  font-size: 30px;
}
.front_cover_title{
  font-size: 50px;
  font-weight: 700;
}
.back_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  overflow-y: auto;
}
.education_name{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.education_description{
  font-size: 15px;
}
.education_section_title{
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: -10px;
}
.education_list_item{
  font-size: 15px;
  text-align: justify;
}
.education_item{
  font-size: 15px;
}
#cover1{
  z-index: 5;
}
#page12{
  z-index: 4;
}
#page34{
  z-index: 3;
}
#page56{
  z-index: 2;
}
#cover2{
  z-index: 1;
}

#cover1s{
  z-index: 6;
}
#page1{
  z-index: 5;
}
#page2{
  z-index: 4;
}
#page3{
  z-index: 3;
}
#page4{
  z-index: 2;
}
#cover2s{
  z-index: 1;
}

.flipped .front_page,
.flipped .back_page,
.flipped .front_cover,
.flipped .back_cover{
  transform: rotateY(-180deg);
}

.flipped2 .front_page,
.flipped2 .back_page,
.flipped2 .front_cover,
.flipped2 .back_cover{
  transform: rotateY(-180deg);
}


.prev_button, .next_button{
  font-size: 3em;
  background-color: rgba(0,0,0,0);
  border: none;
  margin: 15px;
  transition: transform 0.5s;
}

.prev_button{
  visibility: hidden;
}

#pb2, #nb2{
  font-size: 3em;
  background-color: rgba(0,0,0,0);
  border: none;
  margin: 15px;
  transition: transform 0.5s;
}
#pb2{
  visibility: hidden;
  z-index: 10;
}

@media screen and (max-width: 1250px){
  .book{
    width: 300px;
    height: 420px;
    position: relative;
  }
  .cover{
    width: 300px;
    height: 420px;
    perspective: 1500px;
  }
  .paper{
    width: 270px;
    height: 375px;
    margin-top: 21px;
    position: absolute;
    perspective: 1500px;
  }
  .front_cover_content{
    padding: 12px;
    padding-top: 100px;
    font-size: 18px;
  }
  .education_name{
    font-size: 15px;
    margin-bottom: 12px;
  }
  .education_description{
    font-size: 10px;
  }
  .education_section_title{
    font-size: 12px;
    font-weight: 700;
    margin-top: -8px;
    margin-bottom: -15px;
    line-height: 15px;
  }
  .education_list_item{
    font-size: 8px;
    text-align: justify;
    margin-left: -20px;
    margin-right: 10px;
    line-height: 12px;
  }
  .education_item{
    font-size: 8px;
    line-height: 10px;
    margin-top: -10px;
  }
}

@media screen and (max-width: 700px)
{
  .bigbook{
    display: none;
  }
  .smallbook{
    display: flex;
  }
}
