  .main-page{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100vh;
  }

  .main-page-name{
    font-size: calc(7vw + 2vmin);
    color: white;
    position: absolute;
    left: 5%;
    width: 50vw;
    font-family: 'Arial Rounded MT Bold';
  }

  .main-page-image{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 55vw;
    z-index: 1;
  }

  @media(max-width:900px){
    .main-page{
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
      height: 100vh;
    }
  
    .main-page-name{
      font-size: calc(10vw + 2vmin);
      color: white;
      left: 0%;
      top: 9vh;
      width: 100vw;
      font-family: 'Arial Rounded MT Bold';
    }
  
    .main-page-image{
      bottom: 0px;
      width: 60vw;
      z-index: 1;
      left: 20vw;
    }
  }

  @media(max-width:500px){
    .main-page{
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
      height: 100vh;
    }
  
    .main-page-name{
      font-size: calc(10vw + 2vmin);
      color: white;
      left: 0%;
      top: 8vh;
      width: 100vw;
      font-family: 'Arial Rounded MT Bold';
    }
  
    .main-page-image{
      bottom: 0px;
      width: 100vw;
      z-index: 1;
      left: 0vw;
      right: 0vw;
    }
}