.App {
  text-align: center;
  background-color: #000523;
  width: 100vw;
  height: 100vh;
}

/* .scroll{
  animation: fadeIn 1.5s;
}

.noscroll{
  opacity: 0;
} */

@keyframes fadeIn{
  0%{opacity: 0;}
  100%{opacity:1;}
}

@keyframes fadeOut{
  0%{opacity: 1;}
  100%{opacity:0;}
}